@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

html {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

body {
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*    align-content: space-between;*/
}

#top {
    background: url(images/bg-pattern-top-mobile.svg) no-repeat;
    text-align: center;
    padding: 1em;
    padding-top: 3em;
    /*    margin: 1em;*/
}

#top h1 {
    color: hsl(300, 43%, 22%);
    width: 80%;
    margin: 0 auto;
}

#top p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

.starReviews {
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    text-align: center;
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
    line-height: 1;
}



.testimonial {
    background: url(images/bg-pattern-bottom-mobile.svg);
}

.testimonialCard {
    background: hsl(300, 43%, 22%);
    border-radius: .5em;
    padding: 1em;
    margin: 1em;
}

.testimonialCard img {
    border-radius: 50%;
}

.testimonialHead {
    display: flex;
}

.buyerName {
    color: hsl(300, 24%, 96%);
}

.buyerTitle {
    color: hsl(333, 80%, 67%);
}

.buyerTestimonial {
    color: hsl(300, 24%, 96%);
}

/*
.repeat {
    background: url(images/icon-star.svg) repeat-x;
    width: 90px;
}
*/



















.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
